/* ------------- Header -------------  */
.hero-header {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #222;
}

.hero-header .wrapper {
  width: 1280px;
  max-width: 95%;
  margin: 0 auto;
  padding: 0 20px;
}

.hero-header .wrapper header {
  padding: 40px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.hero-header .wrapper header .logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.hero-header .logo i {
  height: 45px;
  width: 45px;
  background-color: #007ced;
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  padding: 10px;
  margin-right: 5px;
  text-align: center;
  cursor: pointer;
}

.hero-header .logo .logo__text {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

nav .toggle-btn {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 45px;
  right: 3%;
  z-index: 5;
  cursor: pointer;
  /* background-color: #007ced; */
  display: none;
}

nav .toggle-btn span {
  display: block;
  background-color: #007ced;
  margin: 5px 0;
  width: 30px;
  height: 3px;
  transition: 0.3s;
  transition-property: transform, opacity;
}

nav .navbar {
  list-style-type: none;
}

nav .navbar li {
  display: inline-flex;
}

nav .navbar li a {
  color: #e5e5e5;
  margin-right: 25px;
}

.control {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #007ced;
  cursor: pointer;
}

.control button {
  background: transparent;
}

.control button i {
  /* display: inline-block; */
  margin-right: 10px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  /* background: #fff; */
  color: #000;
}

.control button i:last-child {
  display: none;
}

.navbar a {
  color: #000;
  text-decoration: none;
}

/* Dark Mode */

.dark-mode .navbar a {
  color: #fff;
}

.dark-mode .logo i {
  color: #fff;
}

/* Toggle button */
#dark-mode-toggle {
  background-color: antiquewhite;
  border: none;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 8px;
  border-radius: 10px;
}
#dark-mode-toggle i:first-child {
  margin-right: 10px;
}
/* Ẩn biểu tượng mặt trăng khi ở chế độ sáng */

.dark-mode #sun-icon {
  display: none;
  margin-right: 5px;
}

/* Ẩn biểu tượng mặt trời khi ở chế độ tối */
.dark-mode #moon-icon {
  display: inline-block;
}

/* Đảm bảo cả hai biểu tượng đều có cùng kích thước */
i {
  font-size: 24px;
}

/* ------------- HOME -------------  */
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 80px;
}

.container .hero-image {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
  border: 15px solid #444;
  box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
  flex-shrink: 0;
}

.container .hero-image img {
  height: 100%;
  width: 100%;
  transition: 0.5s all linear;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.container .hero-image img:hover {
  transform: scale(1.1);
}

.container .hero-info {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.container .hero-info .info-sub {
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
}

.container .hero-info .info-name {
  color: #007ced;
  font-size: 17px;
}

.container .hero-info .info-title {
  font-size: 30px;
  color: #007ced;
}

.container .hero-info .info-desc {
  color: #e5e5e5;
  margin-top: 10px;
  letter-spacing: 0.25px;
  opacity: 0.7;
}

.container .btn-group {
  margin: 45px 0;
}

.container .btn-group .btn {
  border-color: #d5d5d5;
  color: #fff;
  background-color: #333;
  padding: 12px 25px;
  border-radius: 10px;
  margin: 5px 5px 5px 0;
  cursor: pointer;
  transition: 0.3s all linear;
  border: 2px solid #e5e5e5;
  font-weight: 500;
  box-shadow: 0 10px 10px -8px rgba(0 0 0 / 78%);
}

.container .btn-group .btn.active {
  border-color: #007ced;
}

.hero-info .socials i {
  color: #e5e5e5;
  font-size: 20px;
  margin-right: 10px;
  transition: 0.5s all ease-in-out;
  background-color: #007ced;
  padding: 10px;
  border-radius: 50%;
}

.hero-info .socials i:hover {
  color: #007ced;
  background-color: #fff;
}

/* ------------- RESPONSIVE -------------  */
@media screen and (max-width: 930px) {
  nav .toggle-btn {
    display: initial;
  }

  .click {
    top: 45px;
  }

  .click span {
    position: absolute;
    margin-top: 12px;
  }

  .click span:first-child {
    transform: rotate(-40deg);
  }

  .click span:nth-child(2) {
    opacity: 0;
    margin: 0;
  }

  .click span:last-child {
    transform: rotate(45deg);
    top: 0;
  }

  nav .navbar {
    position: absolute;
    top: 110px;
    right: -100%;
    bottom: 0;
    width: 50%;
    height: 100vh;
    background-color: #000;
    z-index: 3;
    box-shadow: 5px 14px 30px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    padding: 25px 0;
    font-weight: bold;
  }

  nav .navbar li {
    display: block;
  }

  nav .navbar li a {
    display: block;
    margin-bottom: 15px;
    text-align: center;
  }

  nav .navbar.open {
    right: 0;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    padding-top: 20px;
  }

  .hero-info {
    padding: 40px 0;
  }

  .container .hero-info .info-desc {
    text-align: justify;
  }

  .container .hero-info .info-sub,
  .container .hero-info .info-title {
    text-align: center;
  }
}
